# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

___Objectives:___
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List Data Science Tools

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Tenserflow
2. Numpy
3. Pandas
4. Matplotlib
5. Seaborn
6. Scikit
7. Keras

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Rstudio |
| Jupyter Lite |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple expression to multiply then add integers
print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
a = 200
b = a/60
print(b,end="")
print(" hrs")

3.3333333333333335 hrs

## Author
Hemanth Surada